#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  background-color: rgb(136, 128, 144);
  align-items: flex-start;
}

.app_name {
  color: white;
  justify-content: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 75px;
}

.file_upload_div {
  justify-content: space-between;
}

.submit-button {
  align-self: center;
}

.submission {
  align-content: center;
}