#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

body {
      background: linear-gradient(180deg, #071026 0%, #000 100%);
      color: #e6eef6;
      font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
      align-items: start;
}

.tagline {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;         
  border-right: 0.12em solid #c000ff;  
  animation: typing 2s steps(22, end),
             blink .7s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 22ch }   
}


@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: #c000ff }
}


.user_inputs {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;     
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;          
}

/* Labels above inputs */
.input_group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  margin-bottom: 20px;
}

.file_label {
  font-size: 14px;
  font-weight: 500;
  color: #e6eef6;
  text-align: left;            /* prevents centering issues */
}

.prompt_label {
  font-size: 14px;
  font-weight: 500;
  color: #e6eef6;
  text-align: left;   
}

/* Textarea */
.job_prompt {
  width: 100%;
  padding: 8px;
  border: 1px solid #cec6d0;
  border-radius: 8px;
  font-size: 14px;
  min-height: 120px;
  resize: vertical;
  background-color: #cec6d032;
  color: white;
}

/* File upload styling */
.resume_file {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  background-color: #cec6d032;
  color: white;
  width: 100%;
}

.submit {
  background-color: #7e728150;
}

/* Loader centering fix */
.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;    
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

}