#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: white;
  color: black;
}


.user_inputs {
  justify-content: space-between;
}

.job_prompt {
  height: 300px;
  width: 300px;
}

.loader {
  justify-content: center;
  align-items: center;
  align-content: center;
}